<form class="form-inline" action="/categories" method="post">
  <input type="hidden" value="<%= month %>" name="month"></input>
  <div class="form-group">
    <label class="sr-only" for="name">Name</label>
    <input name="name" type="text" id="name" class="form-control" placeholder="New Category">
  </div>
  <button id="add_category" type="submit" class="btn btn-default">Save</button>
</form>
