<tr id="<%= line.id %>" class="<%= line.css_class %>">
<form action="<%= line.change_amount_url %>" method="post">
  <input type="hidden" name="_method" value="put"></input>
  <td>
    <label for="<%= line.input_field_id %>"><%= line.category %></label>
  </td>
  <td>
    <input id="<%= line.input_field_id %>" name="amount" type="text" value="<%= line.amount %>"></input>
  </td>
  <td class="outflow"><%= line.outflow %></td>
  <td class="balance"><%= line.balance %></td>
  <td>
    <button id="<%= line.change_budget_button_id %>" type="submit">Save</button>
  </td>
</form>
</tr>
