<h1>Budget for <%= @page.selected_month %></h1>

<%== erb :errors, locals: { errors: @page.errors } %>

<ul class="list-group">
  <%== erb :budget_overview, locals: { money: @page.remaining_last_month } %>
  <%== erb :budget_overview, locals: { money: @page.income } %>
  <%== erb :budget_overview, locals: { money: @page.uncategorized_amount } %>
  <%== erb :budget_overview, locals: { money: @page.overspent } %>
  <%== erb :budget_overview, locals: { money: @page.amount_to_budget } %>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Outflow</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @page.lines.each do |line| %>
      <%== erb :budget_line_form, locals: { line: line } %>
    <% end %>
  </tbody>
</table>

<%== erb :add_category_form, locals: { month: @page.selected_month } %>
