<% unless errors.empty? %>
  <div id="errors" class="alert alert-danger">
    <p>There are errors in your form:</p>
    <ul>
      <% errors.each do |error| %>
        <li><%= error.message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
