<h1>Transactions</h1>
<%== erb :errors, locals: { errors: @page.errors } %>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>In</th>
      <th>Out</th>
      <th>Comment</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @page.transactions.each do |transaction| %>
      <tr id="<%= transaction.id %>" class="<%= transaction.row_class %>">
        <form id="change_transaction_form_<%= transaction.id %>" action="<%= transaction.change_url %>" class="form" method="post">
          <input type="hidden" name="_method" value="put"></input>
          <td class="date">
            <label for="date_<%= transaction.id %>" class="sr-only">Date</label>
            <input id="date_<%= transaction.id %>" name="date" type="text" value="<%= transaction.date %>"></input>
          </td>
          <td class="category">
            <label for="category_<%= transaction.id %>" class="sr-only">Category</label>
            <select id="category_<%= transaction.id %>" class="form-control" name="category">
              <% transaction.possible_categories.each do |category| %>
                <option <%= category.selected %> value="<%= category.id %>"><%= category.name %></option>
              <% end %>
            </select>
          </td>
          <td class="in_flow">
            <label for="in_flow_<%= transaction.id %>" class="sr-only">In flow</label>
            <input id="in_flow_<%= transaction.id %>" name="in_flow" type="text" value="<%= transaction.in_flow %>"></input>
          </td>
          <td class="out_flow">
            <label for="out_flow_<%= transaction.id %>" class="sr-only">Out flow</label>
            <input id="out_flow_<%= transaction.id %>" type="text" value="<%= transaction.out_flow %>" name="out_flow"></input>
          </td>
          <td class="comment">
            <label for="comment_<%= transaction.id %>" class="sr-only">Comment</label>
            <input id="comment_<%= transaction.id %>" name="comment" type="text" value="<%= transaction.comment %>"></input>
          </td>
          <td>
            <button type="submit" class="btn">Save</button>
          </td>
        </form>
      </tr>
    <% end %>
  </tbody>
</table>

<form id="add_transaction_form" action="/transactions" class="form-inline" method="post">
  <div class="form-group">
    <label class="sr-only" for="date">Date</label>
    <input id="date" name="date" type="text" placeholder="Date" class="text form-control">
  </div>

  <div class="form-group">
    <label class="sr-only" for="category">Category</label>
    <select id="category" class="form-control" name="category">
      <% @page.possible_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label class="sr-only" for="in_flow">In flow</label>
    <input name="in_flow" type="text" id="in_flow" placeholder="In flow" class="text form-control">
  </div>

  <div class="form-group">
    <label class="sr-only" for="out_flow">Out flow</label>
    <input name="out_flow" type="text" id="out_flow" placeholder="Out flow" class="text form-control">
  </div>

  <div class="form-group">
    <label class="sr-only" for="comment">Comment</label>
    <input name="comment" type="text" placeholder="Comment" id="comment" class="text form-control">
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>
